{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
        <title>Connexion</title>
        <link rel="stylesheet" href="{% static 'connexion.css' %}">
    </head>
    <body>
        <div Class="formconnexion">
            <form action="{% url 'connexion' %}" method="post">
                <h1>Login</h1>
                {% csrf_token %}
                <div Class="les_labs">
                    <label for="username">Nom d'utilisateur</label><br>
                    <input type="text" name="nomuser" placeholder="@user_name" required><br>

                    <label for="password">Mot de pass</label><br>
                    <input type="password" name="motdepass" placeholder="my_password" required>
                </div>

                <button type="submit">Se connecter</button>
                <h3><a href="{% url 'index' %}">Annuler</a></h3>
                <p class="link">Pas encore inscrit ? <a href="{% url 'inscription' %}">S'inscrire</a> </p>
            </form>
        </div>
    </body>
</html>