{% extends 'plateform.html' %}

{% block discu %}
<div class="discussion">
    <div class="info_dest">
        <img class="profile-pic" src="{{ destinateur.profile_picture.url }}" alt="Profil">
        <h2>{{ destinateur.username }} | {{ destinateur.email }}</h2>
    </div>
    <div class="messages">
        {% if texte %}
            {% for m in texte %}
                <div class="message {% if m.exped == expediteur %} ma-texte {% else %} sa-texte {% endif %}">
                    <div class="message-content">
                        {% if m.exped == expediteur %}
                            <div class="text-bubble">
                                <p>{{ m.message }}</p>
                                <span class="message-time">{{ m.date_env|date:"H:i" }}</span>
                            </div>
                            <img class="profile-pic" src="{{ expediteur.profile_picture.url }}" alt="Profil">
                        {% else %}
                            <img class="profile-pic" src="{{ destinateur.profile_picture.url }}" alt="Profil">
                            <div class="text-bubble">
                                <p>{{ m.message }}</p>
                                <span class="message-time">{{ m.date_env|date:"H:i" }}</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}     
                <p><strong><u>{{ expediteur.username }}</strong></u>, demmares une discussion avec <strong><u>{{ destinateur.username }}</u></strong> <br> <strong><u>{{ destinateur.email }}</u></strong> </p>
        {% endif %}
    </div>

    <form action="{% url 'discussion' destinateur.uid %}" method="post">
        {% csrf_token %}
        <textarea name="message" class="mess_input" placeholder="Tapez votre message..." required></textarea>
        <button type="submit">📩</button>
    </form>
</div>
{% endblock %}