{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Index page</title>
</head>
<body>

    <div Class="header">

        <div Class="logo">
            <img src="media/logo/logo.jpeg">
            <h1 Class="playwrite-in-unique">Elimeleka</h1>
        </div>

        <div Class="navigations">
            <a href="{% url 'connexion' %}">Se connecter</a>
            <a href="{% url 'inscription' %}">S' inscrire</a>
        </div>

    </div>

</body>

</html>