{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
        <link rel="stylesheet" href="{% static 'inscription.css' %}">
        <title>Inscription</title>
            {% load static %}
    </head>

    <body>
        <div Class="formconnexion">

            <form action="{% url 'inscription' %}" method="post" enctype="multipart/form-data">
                 <h1>S'inscrir</h1>
                {% csrf_token %}
                <div Class="elem">
                    {{ form.as_p }}
                </div>
                <button type="submit">S'inscrire</button>
                <h3><a href="{% url 'index' %}" style="color: red; text-decoration: none; border-bottom: 1px solid red; margin: auto 20px;">Annuler</a></h3>
                <p class="link">Deja inscrit ? <a href="{% url 'connexion' %}">Se connecter</a> </p>
            </form>
        </div>
    </body>

</html>