{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plateform</title>
    <link rel="stylesheet" href="{% static 'plateform.css' %}">
</head>
<body>
   
    <div class="plateform">
        <h1>ChatApp|2846.exe</h1>
        <div class="contenue">
            <div class="utilisateurs">
                <h2>Utilisateurs</h2>
                {% block content %}
                    {% if users %}
                        <ul>
                            {% for u in users %}
                                <li>
                                    <img src="{{ u.profile_picture.url }}" alt="{{ u.username }}" />
                                    <span><a href="{% url 'discussion' u.uid %}">{{ u.username }}</a></span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endblock %}
                <form action="{% url 'rechercher_user' %}">
                    {% csrf_token %}
                    <input type="search" name="search_user" placeholder="Recherche" required>
                    <button type="submit">Go</button>
                </form>
            </div>
    
            <div class="template">
                <div class="user">
                    <a href="{% url 'deconnexion' %}">Logout</a>
                    <div class="info_user">
                        <h6>{{ user.username }}</h6>
                        <img src="{{ user.profile_picture.url }}" alt="user_pp">
                    </div>
                </div>
                {% block discu %}
                    <p>Demmarer une discussion.</p>
                {% endblock %}
            </div>
        </div>

    </div>

</body>

<style>
    

</style>

</html>